/* ---------------------------------------------------------*/
/* ----------------------- GENERALS ------------------------*/
/* ---------------------------------------------------------*/
#grid-container {
  height: 55vh;
  width: 560px;
  display: grid;
  background-color: black;
  border: solid 1px black;
  grid-template-areas: 
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}

/* ---------------------------------------------------------*/
/* ----------------------- AREAS ---------------------------*/
/* ---------------------------------------------------------*/

/* ---------------------------------------------------------*/
/* ----------------------- COLORS --------------------------*/
/* ---------------------------------------------------------*/